.App {
	display: grid;
	grid-template-areas: "header" "main" "footer";
	height: 100vh;
	grid-template-rows: 5rem 1fr 5rem;
	grid-template-columns: 1fr;
}
header {
	grid: header;
  display: flex;
	background-color: #203040;
	color: white;
  align-items: center;
}
main {
	grid: main;
  display: flex;
  justify-content: space-between;

}
footer {
	grid: footer;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #203040;
	color: white;

}
.movie__card{
flex: 4 8rem;
  margin-left: 1rem;
  margin-top: .1rem;
  padding: 1rem;


}
.movie__pay{
  flex:1 0.2rem;
  margin-right: 1rem;
  margin-top: .1rem;
  padding: 1rem;
    justify-content: center;

}